%div{:class => "container-fluid"}
	%div{:class => "row"}
		-if @user_shares.empty? == true
			%div{ :class=>"indexBox"}
				%div{:class=>"glyphicon glyphicon-plus"}
				%div{:class=>"joinGroup"}Join a Group
		-else
			-@user_shares.each do |share|
				%div{:class=>"col-md-4"}
					%div{ :class=>"indexBox link", :id=>"share_#{share.id}", :data => {:target_path => "/share/#{share.id}"}}
						%div{:class=>"shareLogo"}
							Logo Here
						%div{:class=>"shareName"}
							=share.name
			%div{:class => "col-md-4"}
				%div{ :class=>"indexBox"}
					%div{:class=>"glyphicon glyphicon-plus"}
					%div{:class=>"joinGroup"}Join a Group
		