%h1 Share#new

%h3 Basic Concept
A page displaying the form necessary to create a new Share
%ul
	%li Name Form - Name must be unique, so do some AJAX to validate that before submission
	%li Plan Select - Display limits of plans
	%li Requires the owner already be logged in - Devise Logged in that is
	%li Question about displaying the share on the index page
	%Li Upload Logo Graphic - Pulls Alliance/Corp logos from provided APIs, this is only needed for other groups such as coalitions.
