---
http_interactions:
- request:
    method: post
    uri: https://api.eveonline.com/account/Apikeyinfo.xml.aspx
    body:
      encoding: US-ASCII
      string: Submodules&KeyId=3229801&VCode=UyO6KSsDydLrZX7MwU048rqRiHwAexvLmSQgtiUbN0rIrVaUuGUZYmGuW2PkMSg1&Includes=account
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2014-06-10 21:03:57</currentTime>\r\n  <result>\r\n    <key
        accessMask=\"67108863\" type=\"Corporation\" expires=\"\">\r\n      <rowset
        name=\"characters\" key=\"characterID\" columns=\"characterID,characterName,corporationID,corporationName,allianceID,allianceName,factionID,factionName\">\r\n
        \       <row characterID=\"601261354\" characterName=\"islador\" corporationID=\"1416434476\"
        corporationName=\"Alaskan Fish\" allianceID=\"1234567890\" allianceName=\"Alliance\"
        factionID=\"0\" factionName=\"\" />\r\n      </rowset>\r\n    </key>\r\n  </result>\r\n
        \ <cachedUntil>2014-06-10 21:08:57</cachedUntil>\r\n</eveapi>"
  recorded_at: Tue, 10 Jun 2014 21:03:56 GMT
- request:
    method: post
    uri: https://api.eveonline.com/corp/Contactlist.xml.aspx
    body:
      encoding: US-ASCII
      string: Submodules&KeyId=3229801&VCode=UyO6KSsDydLrZX7MwU048rqRiHwAexvLmSQgtiUbN0rIrVaUuGUZYmGuW2PkMSg1&Includes=corporation
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2014-04-18 01:52:03</currentTime>\r\n  <result>\r\n    <rowset
        name=\"corporateContactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID\">\r\n
        \      <row contactID=\"90268350\" contactName=\"Flapjack Shortpants\" standing=\"4\"
        contactTypeID=\"1385\" />\r\n    </rowset>\r\n
        \   <rowset name=\"allianceContactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID\"
        />\r\n  </result>\r\n  <cachedUntil>2014-04-18 02:07:03</cachedUntil>\r\n</eveapi>"
  recorded_at: Tue, 10 Jun 2014 21:03:57 GMT
recorded_with: VCR 2.9.0
