%h1 Api#index
%p Find me in app/views/api/index.html.haml

%h3 Basic Concept
An index page comprised of a datatable displaying all the APIs currently owned by this user.
%ul
	%li A separate marking of some kind for the main API. Highlighting in the datatable?
	%li A delete button on each API's row
	%li An "Enroll New API" button at the top and bottom of the table
	%li Clicking on an API anywhere but the delete button should take you to the API's show page.
	%li The delete button should raise a confirm box that lists the API's characters
	%li Attempting to delete the main API should raise a warning indicating that doing so would lose the user access to all services.
	%li A flash should be added after registering and being directed here; "Please enroll an API to get authorized".
