%h1 Api#new
%p Find me in app/views/api/new.html.haml

%div{:id => "prefab_keys"}
	=link_to("Make a Key", "https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455", id: "user_prefab_key", class: "btn btn-xs btn-success")

%div{:id => "new_api_enroll"}
	=text_field(:key, :id, :placeholder => "Key ID")
	=text_field(:v, :code, :placeholder => "Verification Code")
	- if @count == 0
		=label_tag(:main_api, "Main API?")
		=check_box_tag(:main_api, 1, true)
	- else
		=label_tag(:main_api, "Main API?")
		=check_box_tag(:main_api, 0)
	%button{:id => "enroll_new_api", :class => "btn btn-xs btn-success", :data => {:target_path => "/users/#{current_user.id}/api"}} Enroll Key
	The first API should have "main_api" checked by default. All subsequent should not.

%h3 Basic Concept
A page to enroll APIs at. 
%ul
	%li A simple form for KeyID, and vCode
	%li A lovely 'Enroll' button
	%li An option to set the API as your main API
	%li Prefab key links for Corporations that only show up if you're the CEO
	%li Prefab key links for players that show up regardless of who you are
	%li https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455
	%li An explanation of core concepts in the API system.
	%ul
		%li What a main API is
		%li What a corporation API is for
		%li How many times a user may swap main APIs
		%li What effect a main API has on the user
		%li The main character concept
		%li How the main character determines the user's display name in all auth connected services.
		%li What roles are pulled automagically and how they affect the user.
		%ul
			%li Should CEO's be able to define new roles to pull automagically? The APIs seem to give the ability, does cancancan allow for roles to be defined willy nilly like that? Can I build a functional roles matrix to allow for a web matched mix-n-match? How does this integrate with TS? Forums? etc?
