// Place all the styles related to the Api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.modal.custom .modal-header{
    width:50%;
    margin:0 auto;
    color:Gray;
    background:black;
    /*add what you want here*/
}

.modal.custom .modal-footer{
    width:50%;
    margin:0 auto;
    color:Gray;
    background:black;
    /*add what you want here*/
}

.modal.custom .modal-body{
    width:50%;
    margin:0 auto;
    color:Gray;
    background:black;
    /*add what you want here*/
}