// Place all the styles related to the Api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.modal.custom .modal-header{
    width:50%;
    margin:0 auto;
    color:Gray;
    background:black;
    /*add what you want here*/
}

.modal.custom .modal-footer{
    width:50%;
    margin:0 auto;
    color:Gray;
    background:black;
    /*add what you want here*/
}

.modal.custom .modal-body{
    width:50%;
    margin:0 auto;
    color:Gray;
    background:black;
    /*add what you want here*/
}

.api-info-box{
    float:left;
    width: 450px;
    text-align: center;
    overflow:hidden;

    .name-box{
        width:150px;
        float:left;
        overflow:hidden;
    }
    .active-api{
        float:left;
        width:150px;
        color:green;
    }
    .inactive-api{
        float:left;
        width:150px;
        color:red;
    }
    .main-api{
        float: left;
        width:150px;
        color:green;
    }
}

.character-list{
    margin-top:65px;
}
