body {
	padding-top: 51px;
}

/* Header */

header {
	ul.nav {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
			margin-top: 5px;
			a:hover {
				background-color: #222222;
			}
		}
		.dropdown{
			a:hover{
				background-color: #222222;
				background-image: none;
			}
		}
	}
	ul.dropdown-menu {
		float: none;
		list-style: none;
		background-color: #222222;
	}
}

/*Devise*/
.sign_in {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	
}

.forgotten_password {
	width: 310px;
	margin-left: auto;
	margin-right: auto;
}

.resend_confirmation {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/*APIs*/

.btn-group {
	float: right;
}

/*Shares*/

.col-centered{
    float: none;
    width: 25%;
    margin-left: auto;
	margin-right: auto;
}

.input-valid-icon-right {
    position: relative;
    i.glyphicon-ok{
    	position: absolute;
	    right: 120px;
	    padding: 2px 0px;
	    color: green;
	    display: none;
    }
    i.glyphicon-remove{
    	position: absolute;
	    right: 120px;
	    padding: 2px 0px;
	    color: red;
	    display: none;
    }
}


#name_taken {
	position: relative;
	left: 180px;
	bottom: 26px;
	//background-color: pink;
	width: 160px;
	height: 25px;
	
	.glyphicon-ok {
		position: relative;
		bottom: 20px;
		//display: none;
		//right: 145px;
		color: green;
	}

	.glyphicon-remove {
		display: none;
		right: 165px;
		color: red;
	}
}

.indexBox {
	width: 250px;
	height: 250px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-width: thin;
	border-style:solid;
	border-color: #000000;
	background-color: 	#FAEBD7;
	//background-color:  #EF6C9A;

	.shareLogo {
		width: 128px;
		height: 128px;
		background-color: #000000;
		//background-color: #C0C0C0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}

	.shareName {
		width: 128px;
		text-align: center;
		//font-size:70px;
		margin-left: auto;
		margin-right: auto;
	}

	.joinGroup {
		position: relative;
		left: 40px;
		top: 150px;
		font-size: 30px;
	}

	.glyphicon-plus {
		float: none;
    	margin: 0 auto;
		left: 122px;
		top: 100px;
		color: green;

		transform:scale(8.0,8.0);
		    -ms-transform:scale(8.0,8.0); /* IE 9 */
		    -moz-transform:scale(8.0,8.0); /* Firefox */
		    -webkit-transform:scale(8.0,8.0); /* Safari and Chrome */
		    -o-transform:scale(8.0,8.0); /* Opera */
	}
}