%html
    %body
        %h1 Your share #{@share.name} has reached its user capacity
        %p Your user, <b>#{@share_user.main_char_name}</b>, has registered their character and it has been approved. However they cannot be granted access while your share is at capacity.
        %p To fix this issue, please upgrade your share. <- should be a link