---
http_interactions:
- request:
    method: post
    uri: https://api.eveonline.com/corp/Contactlist.xml.aspx
    body:
      encoding: US-ASCII
      string: Submodules&KeyId=3229801&VCode=UyO6KSsDydLrZX7MwU048rqRiHwAexvLmSQgtiUbN0rIrVaUuGUZYmGuW2PkMSg1&Includes=corporation
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2014-04-18 01:52:03</currentTime>\r\n  <result>\r\n    <rowset
        name=\"corporateContactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID\">\r\n
        \         </rowset>\r\n
        \   <rowset name=\"allianceContactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID\"
        />\r\n  </result>\r\n  <cachedUntil>2014-04-18 02:07:03</cachedUntil>\r\n</eveapi>"
  recorded_at: Fri, 18 Apr 2014 01:52:03 GMT
recorded_with: VCR 2.9.0
