---
http_interactions:
- request:
    method: post
    uri: https://api.eveonline.com/corp/Contactlist.xml.aspx
    body:
      encoding: US-ASCII
      string: Submodules&KeyId=3229801&VCode=UyO6KSsDydLrZX7MwU048rqRiHwAexvLmSQgtiUbN0rIrVaUuGUZYmGuW2PkMSg1&Includes=corporation
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2014-04-18 01:52:03</currentTime>\r\n  <result>\r\n    <rowset
        name=\"corporateContactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID\">\r\n
        \     <row contactID=\"1000181\" contactName=\"Federal Defense Union\" standing=\"-5\"
        contactTypeID=\"2\" />\r\n      <row contactID=\"90060489\" contactName=\"Lucian
        Caine\" standing=\"-5\" contactTypeID=\"1375\" />\r\n      <row contactID=\"90257485\"
        contactName=\"Szandicka\" standing=\"-5\" contactTypeID=\"1379\" />\r\n      <row
        contactID=\"90268350\" contactName=\"Flapjack Shortpants\" standing=\"5\"
        contactTypeID=\"1385\" />\r\n      <row contactID=\"90639845[...]
